<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.setting.mappers.SettingMapper">

    <select id="list" resultType="SettingVO">
        <![CDATA[
            SELECT
                T1,
                T2
            FROM
                TEST
        ]]>
    </select>
</mapper>